{%extends 'base.html'%}
{%block content%}

<h2>Create Post</h2>

{%if messages%}
    {%for message in Messages%}
        <p>{{messages}}</p>

    {%endfor%}
{%endif%}

<form method="post">
    {% csrf_token%}

    <label>Title:</label>
    <input type="text" name="title" required>

    <label>Content: </label>
    <textarea name="content" required></textarea>

    <label>Category:</label>

    <select name="category">
        {%for category in categories %}

        <option value="{{category.id}}">{{category.name}}</option>
        {%endfor%}

    </select>
    <button type="submit">Create Post</button>
</form>
{%endblock%}

